<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
    <title>CA2</title>
</head>
<body>
    <header class="header">
        <nav class="main-nav">
            <ul class="main-nav-list">
                <li><a href="{{ url_for('index') }}">Home Page</a></li>
                </br>
                <li><a href="{{ url_for('game') }}">Play</a></li>
                </br>
                <li><a href="{{ url_for('scoreboard') }}">Scoreboard</a></li>
                </br>
                {% if session == 1 %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                </br>
                {% endif %}
                {% if session == 1 %}
                <li><a href="{{ url_for('register') }}">Register</a></li>
                </br>
                {% endif %}
                {% if session == 2 %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </br>
                {% endif %}
            </ul>
        </nav>
        <!-- <a href="{{ url_for('login')}}">{{ username }}</a> -->
    </header>
    {% block main_content %}{% endblock %}
</body>
</html>