{% extends "base.html" %}
{% block main_content %}
<h1 class="heading-primary">HOW TO PLAY</h1>
<section id="instructions">
<p>You will spawn in the center of the map</p>
<p>You will be able to move with w, a, s, d</p>
<p>You aim where to shoot with your mouse and the game will automatically shoot after an interval</p>
<p>You must defend yourself and your building in the middle from the enemies</p>
<p>When the building's health reaches 0, you will no longer get power-ups</p>
<p>When your health reaches 0, the game will end</p>
<p>Last as long as possible and get the highest score on the scoreboard. Good luck!</p>
</section>
{% endblock %}