{% extends "base.html" %}
{% block main_content %}
<h1 class="heading-primary">Register A New Account</h1>
<form action="" method="post" novalidate class="form"> 
{{ form.hidden_tag() }}
<p>{{ form.username.label }}</p>
<p>{{ form.username() }}</p>
{% for error in form.username.errors %}
    <p>{{ error }}<p>
{% endfor %}
</br>
<p>{{ form.password.label }}</p>
<p>{{ form.password() }}</p>
{% for error in form.password.errors %}
    {{ error }}
{% endfor %}
</br>
<p>{{ form.password2.label }}</p>
<p>{{ form.password2() }}</p>
{% for error in form.password2.errors %}
    <p>{{ error }}</p>
{% endfor %}
</br>
<p>{{ form.submit() }}</p>
</form>
{% endblock %}